@model ClanPenguin.ViewModels.RegisterViewModel

@section content {
    <center>
        <div class="comet-long-form-text">
            <h1> Create your account </h1>
        </div>
        <form method="post" asp-controller="Account" asp-action="Register" class="comet-form">
            <div asp-validation-summary="All" style=""></div>
            <label name="EmailAddress" class="comet-form__label"> Email </label>
            <input name="EmailAddress" class="comet-form__input">
            <br>

            <label name="UserName" class="comet-form__label"> Username </label>
            <input name="UserName" class="comet-form__input">
            <br>

            <label name="Password" class="comet-form__label"> Password </label>
            <input name="Password" class="comet-form__input" type="password">
            <br>

            <label name="ConfirmedPassword" class="comet-form__label"> Confirm Password </label>
            <input name="ConfirmedPassword" class="comet-form__input" type="password">

            <br>
            <input type="submit" value="Register" class="comet-button comet-button--primary">
        </form>
    </center>
}
