@model ClanPenguin.ViewModels.Main
@section content {
    <div class="comet-row homebg">
        <div class="comet-row__inner">
            <div class="comet-masthead comet-masthead--dark-bg">
                <div class="comet-masthead__content">
                    <h1 class="comet-masthead__title"> About us </h1>
                    <p class="comet-masthead__description">
                        Clan Penguin started out as a small powerpoint game between friends. Since then, it <br>
                        has gone through many changes and upgrades. This is the latest step of the project.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="comet-row comet-theme--dark-background comet-row--inner-inset">
        <div class="comet-row__inner">
            <div class="comet-columns">
                <div class="comet-long-form-text">
                    <h2 style="color: white"> Contact Us </h2>
                    <p style="color: white">
                        Give us suggestions, questions and more at: <br>
                        Email: warman13579@gmail.com <br>
                        Discord: Connor#6561
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="comet-row comet-theme--light-background comet-row--inner-inset">
        <div class="comet-row__inner">
            <div class="comet-columns">
                <div class="comet-long-form-text">
                    <h2> FAQ </h2>
                    <ul>
                        <li>
                           Q: When will you add... <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;A: As soon as possible, development takes time
                        </li>
                        <li>
                            Q: Why? <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;A: Because
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
