@model ClanPenguin.ViewModels.Main

@section product {
<nav>
    <ul class="comet-product-bar__breadcrumbs">
        <li class="comet-product-bar__breadcrumb-separator">
            <svg class="comet-product-bar__breadcrumb-separator-icon" aria-hidden="true" focusable="false">
                <use xlink:href="@Url.Content("~/lib/comet/comet.svg")#caret-right"></use>
            </svg>
        </li>
        <li class="comet-product-bar__breadcrumb">
            <span class="comet-product-bar__breadcrumb-link">
                Chatroom
            </span>
        </li>
    </ul>
</nav>
}
@section content {
    <span> Hello World! </span>
}
@section navbar {
    Hello World!
}

