@model ClanPenguin.ViewModels.Main
@section content {
    <div class="comet-row homebg" style="background-image: url(@Url.Content("~/images/ClanPenguin.png"));">
        <div class="comet-row__inner">
            <div class="comet-masthead comet-masthead--dark-bg"  style="padding-bottom: 30%; padding-top: 20%;">
                <div class="comet-masthead__content">
                    <h1 class="comet-masthead__title"> Welcome to Clan Penguin! </h1>
                    <div class="comet-masthead__description">
                        This is a small expirimental website for code exercise
                    </div>
                </div>
            </div>
        </div>
    </div>
}
