@model ClanPenguin.ViewModels.Main
@section content {
    <div class="comet-row homebg">
        <div class="comet-row__inner">
            <div class="comet-masthead comet-masthead--dark-bg">
                <div class="comet-masthead__content">
                    <h1 class="comet-masthead__title"> Welcome to Clan Penguin! </h1>
                    <div class="comet-masthead__description">
                        This is a small expirimental website for code exercise
                    </div>
                </div>
            </div>
        </div>
    </div>
}
