@model ClanPenguin.ViewModels.Main

@section content {
    <center>
        <div class="comet-row comet-theme--light-background">
            <div class="comet-long-form-text">
                
            </div>
        </div>
    </center>
}
